
// Tipografia
$fuente_principal: "Montserrat", sans-serif;
$fuenteheading: "PT Sans", sans-serif;
$fuentreparrafos: "Open Sans", sans-serif;


// Colores

$verde: #4CB8B3;
$rosa: #f53756;
$amarillo: #FEF46E;
$violeta: #752F97;
$negro: #000000;
$blanco: #ffffff;
$marron: #8d5826;
$gris: #464340;
$grisclaro: #b9b2ad;
$azul: #441cd4;
$rojo: #e91337;
$naranja: #FF8000;
$naranjaoscuro: #ce6803;
$cafe: #784d3c;
$blanco: #ffffff;
$blancopastel_: #f0eeeb;
$negro: #000000;
$verdepastel: #56ff95;
$violetapastel: #D587FF;
$rosapastel: #FF82F7;
$doradopastel: #ffc349 ;

// Tamaños de media queries
$phone: 480px;
$tablet: 768px;
$desktop: 992PX;
$desktopXL: 1200PX;
